:host {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  mat-drawer {
    width: 15rem;
  }
  mat-drawer-container {
    height: 100%;
  }
  
  mat-drawer {
    background: #f1f0f0;
  }
  